/* Configuration de la structure HTML5 */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1;
  background-color: #ffffff;
  color: black;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 3px 0;
}

p {
  color: #666;
  text-align: left;
  font-size: 1em;
}

article {
  color: black;
  padding: 15px;
  margin-bottom: 20px;
}

aside {
  color: black;
  padding: 15px;
}

h1 {
  color: black;
  font-size: 2.5em;
  margin-bottom: 25px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
h3 {
  text-align: left;
  font-size: 1.5em;
  margin: 0px ;
}
h4 {
  text-align: left;
  font-size: 1.2em;
    margin: 0px ;
}

/* Menu de navigation latérale */
.sidebar {
  width: 200px;
  padding: 0px;
  height: 500px;
  position: fixed;
  top: 200px;
  /* Ajustement pour le header */
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  background-color: #ddd;
  border-radius: 30px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #2bff00;
  color: #fff;
}

/* Contenu principal */
.main-content {
  color: black;
  margin-left: 220px;
  /* Espace pour le menu latéral */
  padding: 20px;
  width: calc(100% - 220px);
}




/* bulles info but1,but2 et but3 */

.container {
  text-align: center;
  padding: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "BUT1 BUT2 BUT3";

}

.BUT1 {
  grid-area: BUT1;
}

.BUT2 {
  grid-area: BUT2;
}

.BUT3 {
  grid-area: BUT3;
}

.col-md-4 {
  fill: yellow
}

/*
.subtitle {
  font-style: italic;
  color: #666;
  margin-bottom: 40px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.block {
  background-color: rgb(255, 255, 255);
  border-radius: 200px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.icon-container {
  background-color: #00ff15;
  color: black;
  border-radius: 90%;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  width: 50px;
  height: 50px;
}



.services {
  margin-left: 20px;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  margin: 10px 0;
  font-size: 18px;
}
*/


/* Pied de page */
.footer {
  text-align: center;
  padding: 20px;
  color: #333;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  color: #5cb85c;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Icônes de réseaux sociaux */
.footer-icons {
  margin: 20px 0;
}

.footer-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.footer-icons i {
  font-size: 20px;
  padding: 10px;
  background: #000000;
  color: #fff;
  border-radius: 50%;
  transition: background 0.4s;
}

.footer-icons i:hover {
  background: #5cb85c;
}

/* Liens de politique de confidentialité */
.footer-links {
  margin: 15px 0;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.footer-links span {
  color: #333;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* fin du pied de page */


/* Info-bulle */
.info-bulle {
  position: relative;
  display: inline-block;
}

.info-bulle:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  width: 120px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}